<!DOCTYPE html>
  <html lang="ko"> 
    <!-- lang="ko"로 바꿔줘야 기본 한글 페이지로 설정된다. -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="./js/home/register.js" defer></script>
    <title>Register</title>
  </head>
    <div class="login-page">
      <div class="form">
        
        <form class="login-form">
          <input id="id" type="text" placeholder="userid"/>
          <input id="name" type="text" placeholder="username"/>
          <input id="password" type="password" placeholder="password"/>
          <input id="confirm-password" type="password" placeholder="password check"/>
          <input id="email" type="text" placeholder="email"/>
          <p id="button">sign up</p>
          <p class="message">Not registered? <a href="/login">login</a></p>
        </form>
      </div>
    </div>
  </body>
  </html>


  <!-- Copyright (c) 2022 by Mohan Khadka (https://codepen.io/khadkamhn/pen/ZGvPLo) -->